<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <div th:fragment="Estilos" class="Estilos">
        <title>Sneaker</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link href="css/layout.css" rel="stylesheet" type="text/css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
        <link th:href="@{/css/layout.css}" rel="stylesheet" type="text/css"/>
    </div>
</head>
<body>
    <header th:fragment="header" class="header">
        <nav class="navegador">
            <div class="menu1">
                <div>
                    <a href="https://www.instagram.com/"><i class="menu1-icono fa-brands fa-instagram"></i></a>
                    <a href="https://www.facebook.com"><i class="menu1-icono fa-brands fa-facebook-f"></i></a>
                    <a href="https://web.whatsapp.com/"><i class="menu1-icono fa-brands fa-whatsapp"></i></a>
                </div>
                <a th:href="@{/Login}"><button type="button" class="menu1-btn btn btn-outline-primary ">Iniciar Session</button></a>
            </div>
            <div class="menu2">
                <a th:href="@{/}"><div class="menu2-logo">SneakerShop</div></a>
                <ul class="filtro">
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="pagina2.html">Nuevo</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="pagina3.html">Hombre</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="pagina4.html">Mujer</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="pagina5.html">Niños</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="pagina6.html">Marcas</a></li>
                </ul>
                <div class="Buscador-E-iconos">
                    <div class="input-group buscardor">
                        <input type="search" class="form-control caja-buscador" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                        <button type="button" class="btn btn-outline-primary boton-buscador"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                    <a th:href="@{/favoritos}"><i class="menu1-icono fa-regular fa-heart"></i></a>
                    <a th:href="@{/pago}"><i class="menu1-icono fa-solid fa-box-open"></i></a>
                </div>
            </div>
        </nav>
        <div><a th:href="@{/Empleado/listadoEmpleado}">Ingresar a la base de datos</a></div>
    </header>
    <div th:fragment="MenuBaseDeDatos"class="MenuBaseDeDatos" >
        <a class="MenuItems" th:href="@{/Empleado/listadoEmpleado}">Empleados</a>
        <a class="MenuItems" th:href="@{/MarcaTennis/listado}">Marcas</a>
        <a class="MenuItems" th:href="@{/Articulo/listado}">Articulos</a>
    </div>
    <footer th:fragment="footer" >
        <div class="footer">
            <div class="contactenos">
                <ul>
                    <H5>Contactenos</H5>
                    <li>Obten ayuda</li>
                    <li>Retroalimentacion</li>
                    <li>Telefono</li>
                </ul>
            </div>
            <div class="SobreNosotros">
                <ul>
                    <H5><a class="TituloSobreNosotros" th:href="@{/sobreN}">Sobre Nosotros</a></H5>
                    <li>Noticias</li>
                    <li>Inversores</li>
                    <li>Propietarios</li>
                </ul>
            </div>
            <div>
                Costa Rica 2022 Todos los derechos reservados
            </div>
        </div>
    </footer>
    <div th:fragment="Script" >
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </div>
</body>
</html>
