<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <div th:replace = "Layout/layout ::Estilos"></div>
    <link th:href="@{/css/BaseDeDatos.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
    <header th:replace = "Layout/layout ::header"></header>
    <div th:replace="Layout/layout::MenuBaseDeDatos"></div>
    <div class="container-fluid">
        <H1>Las marcas que manejamos</H1>
        <a class="CrearNuevo" th:href="@{/MarcaTennis/nuevo}"> 
            <button type="button" class="btn btn-primary btn-block CrearNuevo">                    
                <i class="fas fa-plus"></i> Agregar nueva marca
            </button>
        </a>
        <table class="table">       
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Id</th>
                    <th scope="col">Marca</th>
                    <th class="table-HeadCenter" scope="col">Modificar</th>
                    <th class="table-HeadCenter" scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item, contador:${marcatenniss}">
                    <th  id="indice" scope="row" >[[${contador.count}]]</th>
                    <td  th:text=${item.marcaCod}>
                    <td  th:text="${item.marcaNom}"></td>
                    <td class="table-ItemCenter">
                        <a th:href="@{/Marcatennis/modificar/}+${item.marcaCod}">
                            <button type="button" class="btn btn-primary btn-block Agregar">                    
                                <i class="fa-solid fa-screwdriver-wrench"></i> Modificar
                            </button>
                        </a>
                    </td>
                    <td class="table-ItemCenter">
                        <a th:href="@{/MarcaTennis/eliminar/}+${item.marcaCod}">
                            <button type="button" class="btn btn-primary btn-block Eliminar">                    
                                <i class="fa-solid fa-eraser"></i> Eliminar
                            </button>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div th:replace ="Layout/layout ::Script"></div>
</body>
</html>