*{box-sizing: border-box;
  margin:0;
  padding:0;
  font-size: 16px;
}

.menu2-logo{
    font-family: 'Great Vibes', cursive;
    font-size: 2rem;
    font-weight: bold;
    background-color: red;
    background-image: linear-gradient(0deg, rgba(187,187,6,1) 11%, rgba(199,25,212,1) 99%);
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    text-align: center;
    width: 10rem;
}

body{
    background-color: #000000;
}

a{
    text-decoration: none;
    color:#EBC000;
}

.navegador{
    background: linear-gradient(133deg, rgba(8,47,48,1) 0%, rgba(38,158,161,1) 27%, rgba(76,97,176,1) 50%, rgba(109,36,116,1) 68%, rgba(27,3,29,1) 100%);
    color: #ffffff;
}

.menu1,.menu2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.43em;
}


.menu1-btn{
    width: 100px;
    height: 20px;
    font-size: 11px;
    padding: 0px;
}

.menu2-buscador{
    width: 120px;
    height: 25px;
    border-radius: 4px;
    border: 1px solid #000;
    margin: 2px;
    align-items: center;
}

a{
    color: #ffffff;
    margin:0;
    padding: 2px;
}

.menu1-icono:hover{
    color: #EBC000;
}


.filtro{
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-menu-item{
    display: inline-block;  
    margin: 0px;
    text-decoration: none;
    padding: 0px 7px;
}

.footer{
    background: linear-gradient(133deg, rgba(8,47,48,1) 0%, rgba(38,158,161,1) 27%, rgba(76,97,176,1) 50%, rgba(109,36,116,1) 68%, rgba(27,3,29,1) 100%);
    margin-top: 20px;
    padding: 7px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #ffffff;
}

.footer >div{
    display: flex;
    align-items: center;
    bottom: 0;
    width: 100%;
}

div > ul{
    list-style-type: none;
}

.btn-outline-primary {
    --bs-btn-color: #df3dff;
    --bs-btn-border-color: #df3dff;
    --bs-btn-hover-bg: #df3dff;
    --bs-btn-hover-border-color: #df3dff;
    --bs-btn-active-bg: #df3dff;
    --bs-btn-active-border-color: #df3dff;
    --bs-btn-disabled-color: #df3dff;
}

.Buscador-E-iconos{
    display: flex;
    align-items: center;
}

.buscardor{
    width: 12rem;
    height: 1.5rem;
    margin: 0.2rem;
}

.boton-buscador,.caja-buscador{
    height: 1.5rem;
    display: flex;
    align-items: center;
}

.sobreNosotros{
    color: white;
    text-align: center;
}

#barraLateral{
    position: absolute;
    top: 12%;
    left: 0;
    height: 80%;
    width: 15%;

    color: white;
    text-align: center;
}

.parrafoF{
    color: white;
}

#contenido2{
    position: relative;
    top: 12%;
    left: 18%;
    height: 80%;
    width: 80%;
    color: white;
    overflow: auto;
    text-align: center;
}

.tituloSN{
    font-size: 33px;
    text-align: center;
    color: #e8838e;
    text-shadow: -3px 3px #ffffff, -2px -2px #ffffff, 3px -3px #ffffff, 3px 3px #f3f3f2, 6px 6px #6ac7c2;
}

