<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace = "Layout/layout ::Estilos"></div>
        <link href="css/index.css" rel="stylesheet" type="text/css"/>
        <link href="css/sobreN.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace = "Layout/layout ::header"></header>

        <article class="sobreNosotros">
            <div class="titulo">
                <header class="tituloSN">Busqueda</header>
            </div>

        </article>


        <aside id="barraLateral">
            <h3>FILTRO</h3>
            <br>
            <br>
            <br>
            <h5>MARCA</h5>
            <br>
            <p class="parrafoF">Marca 1</p>
            <p class="parrafoF">Marca 2</p>
            <p class="parrafoF">Marca 3</p>
            <p class="parrafoF">Marca 4</p>
            <p class="parrafoF">Marca 5</p>
            <p class="parrafoF">Marca 6</p>
            <br>
            <br>
            <h5>TAMAÑO</h5>
            <input type="range" name="range" min="0cm" max="55cm"><br>
            <br>
            <br>
            <h5>GENERO</h5>
            <label>Hombre: </label><input type="checkbox" name="checkbox"><br>
            <label>Mujer: </label><input type="checkbox" name="checkbox"><br>
            <label>Unisex:  </label><input type="checkbox" name="checkbox"><br>
            <br>
            <br>
            <h5>PRECIO</h5>
            <label>0-50.000 </label><input type="checkbox" name="checkbox"><br>
            <label>Mayor a 50.000 </label><input type="checkbox" name="checkbox"><br>
            <br>
            <br>
            <h5>COLORES</h5>
            <label>Color 1: </label><input type="checkbox" name="checkbox"><br>
            <label>Color 2: </label><input type="checkbox" name="checkbox"><br>
            <label>Color 3: </label><input type="checkbox" name="checkbox"><br>
            <label>Color 4: </label><input type="checkbox" name="checkbox"><br>
            <label>Color 5: </label><input type="checkbox" name="checkbox"><br>
            <br>


        </aside>

        <section id="contenido2">
            <div class="container-fluid">
                <div class="row container-tendencia">
                    <H2 class="container-titulo"></H2>
                    <div class="col "><div class="card" style="width: 17rem;">
                            <img class="card-img-top" src="imagenes/Ben & Jerry's x Dunk Low SB 'Chunky Dunky' Special Ice Cream Box.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Ben & Jerry's x Dunk Low SB 'Chunky Dunky' Special Ice Cream Box.</h5>
                                <p class="card-text">Hecho en colaboración con Ben & Jerry's</p>
                                <p class="card-text">Precio: 89.000</p>
                            </div><!--  Chunky Monkey de la marca de helados. La parte superior de cuero representa cielos azules y pastos verdes, mientras que las superposiciones de pelo de caballo se representan con un estampado de vaca manchada. Un Swoosh de cuero amarillo tiene un efecto de helado derretido para un toque visual adicional. En la parte superior de la lengua, la etiqueta tejida presenta una etiqueta de Chunky Dunky junto con la marca Nike SB. -->
                        </div>
                    </div>
                    <div class="col "><div class="card" style="width: 17rem;">
                            <img class="card-img-top" src="imagenes/Air Jordan 1 “Cactus Jack”.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Air Jordan 1 “Cactus Jack”.</h5>
                                <p class="card-text">El Travis Scott x Air Jordan 1 Retro High</p>
                                <p class="card-text">Precio: 92.000</p>
                            </div><!--  Un Swoosh de orientación tradicional adorna el lado medio de la parte superior, que está construido con una combinación de cuero blanco y suede marrón. Los detalles adicionales adicionales incluyen una construcción de doble capa en el cuello y el logotipo de la cara de Scott en relieve en el talón. -->
                        </div>
                    </div>
                    <div class="col "><div class="card" style="width: 17rem;">
                            <img class="card-img-top" src="imagenes/Yeezy Foam Runner 'Stone Sage'.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Yeezy Foam Runner 'Stone Sage'.</h5>
                                <p class="card-text">El adidas Yeezy Foam Runner 'Sage'</p>
                                <p class="card-text">Precio: 67.000</p>
                            </div><!--  'Ararat' de 2020, el slip-on hace uso de una estructura flexible de una pieza que combina EVA estándar con un compuesto de espuma a base de algas. Los múltiples puertos de ventilación permiten que los pies respiren, mientras que los interiores texturizados ofrecen un agarre antideslizante. Bajo los pies, una banda de rodadura clásica en espiga proporciona una tracción confiable. -->
                        </div>
                    </div>
                    <div class="col "><div class="card" style="width: 17rem;">
                            <img class="card-img-top" src="imagenes/OFF-WHITE x Air Jordan 1 Retro High OG - Chicago.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">OFF-WHITE x Air Jordan 1 Retro High OG - Chicago.</h5>
                                <p class="card-text">Creado por el diseñador Virgil Abloh</p>
                                <p class="card-text">Precio: 88.000</p>
                            </div><!--  Algunas de las características a medio terminar de las zapatillas de deporte incluyen un Swoosh conectado a la zapatilla con costuras azules visibles,  y una corbata con cremallera en el cuello. La caja se deconstruye ya que se ha vuelto del revés, con el interior consistente en una base negra y el logotipo dorado de Jumpman, mientras que el exterior es de cartón liso con las palabras "Jumpman" impresas. La colección OFF-WHITE de Virgil incluyó iteraciones remezcladas de Air VaporMax, Air Presto, Air Max 90, Blazer, Air Max 97, Hyperdunk 2017, Air Force 1, Zoom Fly y Chuck Taylor. -->
                        </div>
                    </div>
                    <div class="col "><div class="card" style="width: 17rem;">
                            <img class="card-img-top" src="imagenes/Aimé Leon Dore x 550 'Evergreen'.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Aimé Leon Dore x 550 'Evergreen'.</h5>
                                <p class="card-text">Se caracterizaba por un diseño de cuero liso con paneles perforados y una malla para mejorar la transpirabilidad.</p>
                                <p class="card-text">Precio 67.000</p>
                            </div><!--  de la zapatilla. Además, la característica ‘N’ de New Balance se rediseñó con un cuerpo más grueso que, como indica el portal Sneaker News -->
                        </div>
                    </div>
                    <div class="col "><div class="card" style="width: 17rem;">
                            <img class="card-img-top" src="imagenes/Aimé Leon Dore x 550 'Evergreen'.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Aimé Leon Dore x 550 'Evergreen'.</h5>
                                <p class="card-text">Este ejemplar se caracterizaba por un diseño de cuero liso con paneles perforados y una malla para mejorar la transpirabilidad.</p>
                            </div><!--  de la zapatilla. Además, la característica ‘N’ de New Balance se rediseñó con un cuerpo más grueso que, como indica el portal Sneaker News -->
                        </div>
                    </div>
                    <div class="col "><div class="card" style="width: 17rem;">
                            <img class="card-img-top" src="imagenes/Aimé Leon Dore x 550 'Evergreen'.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Aimé Leon Dore x 550 'Evergreen'.</h5>
                                <p class="card-text">Este ejemplar se caracterizaba por un diseño de cuero liso con paneles perforados y una malla para mejorar la transpirabilidad.</p>
                            </div><!--  de la zapatilla. Además, la característica ‘N’ de New Balance se rediseñó con un cuerpo más grueso que, como indica el portal Sneaker News -->
                        </div>
                    </div>
                    <div class="col "><div class="card" style="width: 17rem;">
                            <img class="card-img-top" src="imagenes/Aimé Leon Dore x 550 'Evergreen'.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Aimé Leon Dore x 550 'Evergreen'.</h5>
                                <p class="card-text">Este ejemplar se caracterizaba por un diseño de cuero liso con paneles perforados y una malla para mejorar la transpirabilidad.</p>
                            </div><!--  de la zapatilla. Además, la característica ‘N’ de New Balance se rediseñó con un cuerpo más grueso que, como indica el portal Sneaker News -->
                        </div>
                    </div>
                    <div class="col "><div class="card" style="width: 17rem;">
                            <img class="card-img-top" src="imagenes/Aimé Leon Dore x 550 'Evergreen'.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Aimé Leon Dore x 550 'Evergreen'.</h5>
                                <p class="card-text">Este ejemplar se caracterizaba por un diseño de cuero liso con paneles perforados y una malla para mejorar la transpirabilidad.</p>
                            </div><!--  de la zapatilla. Además, la característica ‘N’ de New Balance se rediseñó con un cuerpo más grueso que, como indica el portal Sneaker News -->
                        </div>
                    </div>



                </div>
            </div>
        </section>
        <footer th:replace = "Layout/layout ::footer"></footer>
        <div th:replace = "Layout/layout ::Script"></div>
    </body>
</html>