<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <html>
        <head>
            <title>Carrito</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <div th:replace = "Layout/layout ::Estilos"></div>
        <link href="css/index.css" rel="stylesheet" type="text/css"/>
        <link href="css/layout.css" rel="stylesheet" type="text/css"/>
        <link href="css/carrito.css" rel="stylesheet" type="text/css"/>
    </head>
    <header th:replace = "Layout/layout ::header"></header>
</nav>
<body>
    <div class="Nuevo">
        <H2 class="container-titulo">Carrito de compras</H2>
        <div class="container-fluid">
            <div class="row container-nuevo">
                <div class="col ">
                    <div class="tarjetaModelo2">
                        <div class="tarjetaModelo2-divImagen">
                            <img class="imagenNuevo" src="imagenes/Off-White x Dunk Low 'Lot 34 of 50'.jpg" alt="alt"/>
                        </div>
                        <div class="tarjetaModelo2-divDescripcion"> 
                            <h5>Off-White x Dunk Low 'Lot 34 of 50'.</h5>
                            <p>
                                Estas zapatillas Off-White x Nike Dunk Low están tomadas de la colección 'Dear Summer', una continuación en expansión de la primera colaboración Nike Dunk de Virgil Abloh de 2019. Las zapatillas bajas utilizan una parte superior de cuero blanco con superposiciones de gamuza gris suave, junto con las florituras de la tarjeta de visita de Virgil Abloh, que incluyen una corbata de plástico y un texto Helvetica impreso. Limitado a cincuenta pares, se coloca una insignia '34 de 50 'en la entresuela lateral.
                            </p><!-- Los toques de color contrastantes llegan a través del sistema de cordones secundarios de la zapatilla, el cierre de cremallera, una lengüeta de espuma expuesta y una lengüeta rectangular fijada al Swoosh.  -->
                            <h5>Precio: 311.900.00 ₡</h5>
                            <!--<button type="button" class="btn btn-outline-primary tarjetaModelo2Boton">Ver mas</button>-->
                            <label for="cantidad">Cantidad: <input type="number" id="cantidad" name="cantidad" value="1"></label>
                        </div>    
                    </div>
                </div>






                <div class="card2" style="width: 17rem;">
                    <br/>
                    <br/>
                    <br/>
                    <h4 class="card-title">* TOTAL: 503.400.00 ₡</h4>
                    <br/>
                    <div class="tarjetaModelo3-divDescripcion"> 
                        <a th:href="@{/pago}"><button type="button" class="btn btn-outline-primary tarjetaModelo2Boton">Comprar</button></a>
                    </div>
                </div>
            </div>



        </div>
        <div class="row container-nuevo">
            <div class="col ">
                <div class="tarjetaModelo2">
                    <div class="tarjetaModelo2-divImagen">
                        <img class="imagenNuevo" src="imagenes/Yeezy Boost 350 V2 'MX Oat'.jpg" alt="alt"/>
                    </div>
                    <div class="tarjetaModelo2-divDescripcion"> 
                        <h5>Yeezy Boost 350 V2 'MX Oat'.</h5>
                        <p>
                            El adidas Yeezy Boost 350 V2 'MX Oat' ofrece una salida vibrante de la paleta de colores típicamente apagados de la marca. La parte superior está compuesta de Primeknit rediseñado y presenta una base bronceada con toques arremolinados de amarillo, azul real y naranja intenso. La construcción minimalista está equipada con un cierre de cordones tradicional, una lengüeta en el talón y una raya lateral de monofilamento post-teñido tejida en el panel lateral.
                        </p><!-- La entresuela Boost de largo completo proporciona una amortiguación sensible envuelta en goma semitranslúcida. -->
                        <h5>Precio: 191.500.00 ₡</h5>
                        <label for="cantidad">Cantidad: <input type="number" id="cantidad" name="cantidad" value="1"></label>

                    </div>    
                </div>
            </div>

            <div class="card3" style="width: 17rem;">
                <h3 class="card-title">- SUGERENCIAS</h3>
                <br/>
                <img class="card-img-top" src="imagenes/Air Jordan 1 Retro High OG 'Rookie of the Year'.jpg" alt="Card image cap">
                <div class="card-body">
                    <!--<h5 class="card-title">OFF-WHITE x Air Jordan 1 Retro High OG - Chicago.</h5>-->
                    <p class="card-text"></p>

                    <img class="card-img-top" src="imagenes/Travis Scott x SB Dunk Low PRM QS 'Cactus Jack'.jpg" alt="Card image cap">
                    <div class="card-body">
                        <!--<h5 class="card-title">Air Jordan 1 “Cactus Jack”.</h5>-->
                        <p class="card-text"></p>

                        <img class="card-img-top" src="imagenes/Off-White x Dunk Low 'Lot 31 of 50'.jpg" alt="Card image cap">
                        <div class="card-body">
                            <!--<h5 class="card-title">Air Jordan 1 “Cactus Jack”.</h5>-->
                            <p class="card-text"></p>

                            <img class="card-img-top" src="imagenes/Yeezy Foam Runner 'Vermiliion'.jpg" alt="Card image cap">
                            <div class="card-body">
                                <!--<h5 class="card-title">Air Jordan 1 “Cactus Jack”.</h5>-->
                                <p class="card-text"></p>

                                <img class="card-img-top" src="imagenes/Aimé Leon Dore x 550 'Green Yellow'.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <!--<h5 class="card-title">Air Jordan 1 “Cactus Jack”.</h5>-->
                                    <p class="card-text"></p>
                                </div><!--  Algunas de las características a medio terminar de las zapatillas de deporte incluyen un Swoosh conectado a la zapatilla con costuras azules visibles,  y una corbata con cremallera en el cuello. La caja se deconstruye ya que se ha vuelto del revés, con el interior consistente en una base negra y el logotipo dorado de Jumpman, mientras que el exterior es de cartón liso con las palabras "Jumpman" impresas. La colección OFF-WHITE de Virgil incluyó iteraciones remezcladas de Air VaporMax, Air Presto, Air Max 90, Blazer, Air Max 97, Hyperdunk 2017, Air Force 1, Zoom Fly y Chuck Taylor. -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <footer th:replace = "Layout/layout ::footer"></footer>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
            </body>
            </html>
