<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <html>
        <head>
            <title>Favoritos</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
            <link href="css/index.css" rel="stylesheet" type="text/css"/>
            <link href="css/layout.css" rel="stylesheet" type="text/css"/>
            <link href="css/favoritos-Sebastian.css" rel="stylesheet" type="text/css"/>
        </head>
        <header th:replace = "layout ::header"></header>
        <header th:fragment="header" class="header">
            <nav class="navegador">
                <div class="menu1">
                    <div>
                        <a href="https://www.instagram.com/sneakermag.la/"><i class="menu1-icono fa-brands fa-instagram"></i></a>
                        <a href="https://www.facebook.com"><i class="menu1-icono fa-brands fa-facebook-f"></i></a>
                        <a href="https://web.whatsapp.com/"><i class="menu1-icono fa-brands fa-whatsapp"></i></a>
                    </div>
                    <a th:href="@{/Login}"><button type="button" class="menu1-btn btn btn-outline-primary ">Iniciar sesión</button></a>
                </div>
                <div class="menu2">
                    <a th:href="@{/}"><div class="menu2-logo"><img src="src" alt="Logo"/></div></a>
                    <ul class="filtro">
                        <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="pagina2.html">MARCAS</a></li>
                        <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="pagina5.html">REVIEWS</a></li>
                        <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="pagina8.html">TALLAS</a></li>
                        <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="pagina7.html">SOBRE NOSOTROS</a></li>
                        <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="pagina4.html">CARRITO</a></li>
                        <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="pagina3.html">REGÍSTRATE</a></li>
                    </ul>
                    <div>
                        <input type="text" class="menu2-buscador "  placeholder=" Buscar"/>
                        <a href="favoritos-Sebastian.html"><i class="fa-regular fa-heart"></i></a>
                        <a href=""><i class="fa-solid fa-box-open"></i></a>
                    </div>
            </nav>
            <div class="Nuevo">
                <H2 class="container-titulo">Favoritos</H2>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <div class="containerFav">
                        <img src="imagenes/Ben & Jerry's x Dunk Low SB 'Chunky Dunky' Special Ice Cream Box.jpg" alt="Chunky Dunky" >
                        <div class="overlay">
                            <a href="#" class="icon" title="Favorite">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="desc">Chunky Dunky</div>
                </div>
            </div>

            <div class="responsive">
                <div class="gallery">
                    <div class="containerFav">
                        <img src="imagenes/Aimé Leon Dore x 550 'Green Yellow'.jpg" alt=""/>
                        <div class="overlay">
                            <a href="#" class="icon" title="Favorite">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="desc">Aimé Leon Dore Green Yellow</div>
                </div>
            </div>

            <div class="responsive">
                <div class="gallery">
                    <div class="containerFav">
                        <img src="imagenes/OFF-WHITE x Air Jordan 1 Retro High OG - Chicago.jpg" alt=""/>
                        <div class="overlay">
                            <a href="#" class="icon" title="Favorite">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="desc">Air Jordan 1 Retro High OG Chicago</div>
                </div>
            </div>

            <div class="responsive">
                <div class="gallery">
                    <div class="containerFav">
                        <img src="imagenes/Off-White x Dunk Low 'Lot 31 of 50'.jpg" alt=""/>
                        <div class="overlay">
                            <a href="#" class="icon" title="Favorite">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="desc">Dunk Low 'Lot 31 of 50'</div>
                </div>
            </div>

            <div class="responsive">
                <div class="gallery">
                    <div class="containerFav">
                        <img src="imagenes/Travis Scott x SB Dunk Low PRM QS 'Cactus Jack'.jpg" alt=""/>
                        <div class="overlay">
                            <a href="#" class="icon" title="Favorite">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="desc">Travis Scott 'Cactus Jack'</div>
                </div>
            </div>
            <footer th:fragment="footer" >
                <div class="footer">
                    <div class="contactenos">
                        <ul>
                            <H5>Contáctenos</H5>
                            <li>Obten ayuda</li>
                            <li>Retroalimentación</li>
                            <li>Teléfono</li>
                        </ul>
                    </div>
                    <div class="SobreNosotros">
                        <ul>
                            <H5>Sobre Nosotros</H5>
                            <li>Noticias</li>
                            <li>Inversores</li>
                            <li>Propietarios</li>
                        </ul>
                    </div>
                    <div>
                        Costa Rica 2022 Todos los derechos reservados
                    </div>
                </div>
            </footer>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


            <footer th:replace = "layout ::footer"/>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        </header>
    </html>
