<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace = "Layout/layout ::Estilos"></div>
        <link href="css/index.css" rel="stylesheet" type="text/css"/>
        
    </head>
    <body>
        <header th:replace = "Layout/layout ::header"></header>
        <div class="MensajesDiarios">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="imagenes/carrusel1.jpg" class="d-block h-100" alt="mensaje1">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>¡New Release!</h5>
                            <p>Shop now</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="imagenes/carrusel2.jpg" class="d-block w-100 h-100" alt="mensaje2">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>¡New Release!</h5>
                            <p>Shop now</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="imagenes/carrusel3.jpg" class="d-block h-100" alt="mensaje3">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>¡New Release!</h5>
                            <p>Shop now</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>  
        <div class="container-fluid">
            <div class="row container-tendencia">
                <H2 class="container-titulo">En tendencia</H2>
                <div class="col "><div class="card" style="width: 17rem;">
                        <img class="card-img-top" src="imagenes/Ben & Jerry's x Dunk Low SB 'Chunky Dunky' Special Ice Cream Box.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Ben & Jerry's x Dunk Low SB 'Chunky Dunky' Special Ice Cream Box.</h5>
                            <p class="card-text">Hecho en colaboración con Ben & Jerry's, el 'Chunky Dunky' de Nike Dunk Low SB reproduce el empaque utilizado para el sabor.</p>
                        </div><!--  Chunky Monkey de la marca de helados. La parte superior de cuero representa cielos azules y pastos verdes, mientras que las superposiciones de pelo de caballo se representan con un estampado de vaca manchada. Un Swoosh de cuero amarillo tiene un efecto de helado derretido para un toque visual adicional. En la parte superior de la lengua, la etiqueta tejida presenta una etiqueta de Chunky Dunky junto con la marca Nike SB. -->
                    </div>
                </div>
                <div class="col "><div class="card" style="width: 17rem;">
                        <img class="card-img-top" src="imagenes/Air Jordan 1 “Cactus Jack”.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Air Jordan 1 “Cactus Jack”.</h5>
                            <p class="card-text">El Travis Scott x Air Jordan 1 Retro High presenta una nueva imagen de la silueta icónica, gracias a un Swoosh de gran tamaño orientado hacia atrás en el lateral.</p>
                        </div><!--  Un Swoosh de orientación tradicional adorna el lado medio de la parte superior, que está construido con una combinación de cuero blanco y suede marrón. Los detalles adicionales adicionales incluyen una construcción de doble capa en el cuello y el logotipo de la cara de Scott en relieve en el talón. -->
                    </div>
                </div>
                <div class="col "><div class="card" style="width: 17rem;">
                        <img class="card-img-top" src="imagenes/Yeezy Foam Runner 'Stone Sage'.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Yeezy Foam Runner 'Stone Sage'.</h5>
                            <p class="card-text">El adidas Yeezy Foam Runner 'Sage' ofrece una iteración monótona de la silueta similar a un zueco de Kanye West. Con un tono bronceado ligeramente más oscuro que el colorway debut.</p>
                        </div><!--  'Ararat' de 2020, el slip-on hace uso de una estructura flexible de una pieza que combina EVA estándar con un compuesto de espuma a base de algas. Los múltiples puertos de ventilación permiten que los pies respiren, mientras que los interiores texturizados ofrecen un agarre antideslizante. Bajo los pies, una banda de rodadura clásica en espiga proporciona una tracción confiable. -->
                    </div>
                </div>
                <div class="col "><div class="card" style="width: 17rem;">
                        <img class="card-img-top" src="imagenes/OFF-WHITE x Air Jordan 1 Retro High OG - Chicago.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">OFF-WHITE x Air Jordan 1 Retro High OG - Chicago.</h5>
                            <p class="card-text">Creado por el diseñador Virgil Abloh, el Air Jordan 1 x OFF-WHITE se presenta en el clásico colorway de Chicago. 'Air' impreso en la entresuela.</p>
                        </div><!--  Algunas de las características a medio terminar de las zapatillas de deporte incluyen un Swoosh conectado a la zapatilla con costuras azules visibles,  y una corbata con cremallera en el cuello. La caja se deconstruye ya que se ha vuelto del revés, con el interior consistente en una base negra y el logotipo dorado de Jumpman, mientras que el exterior es de cartón liso con las palabras "Jumpman" impresas. La colección OFF-WHITE de Virgil incluyó iteraciones remezcladas de Air VaporMax, Air Presto, Air Max 90, Blazer, Air Max 97, Hyperdunk 2017, Air Force 1, Zoom Fly y Chuck Taylor. -->
                    </div>
                </div>
                <div class="col "><div class="card" style="width: 17rem;">
                        <img class="card-img-top" src="imagenes/Aimé Leon Dore x 550 'Evergreen'.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Aimé Leon Dore x 550 'Evergreen'.</h5>
                            <p class="card-text">Este ejemplar se caracterizaba por un diseño de cuero liso con paneles perforados y una malla para mejorar la transpirabilidad.</p>
                        </div><!--  de la zapatilla. Además, la característica ‘N’ de New Balance se rediseñó con un cuerpo más grueso que, como indica el portal Sneaker News -->
                    </div>
                </div>
            </div>
        </div>
        <div class="Nuevo">
            <H2 class="container-titulo">Nuevo</H2>
            <div class="container-fluid">
                <div class="row container-nuevo">
                    <div class="col ">
                        <div class="tarjetaModelo2">
                            <div class="tarjetaModelo2-divImagen">
                                <img class="imagenNuevo" src="imagenes/Yeezy Slide 'Glow Green'.jpg" alt="alt"/>
                            </div>
                            <div class="tarjetaModelo2-divDescripcion"> 
                                <h5>Yeezy Slide 'Glow Green'.</h5>
                                <p>
                                    Las Yeezy Slide 'Glow Green' muestra la interpretación minimalista de Kanye West de una sandalia deportiva. Se aplica un acabado monocromático en un tono verde sutil a la silueta sin cordones, construida con espuma EVA para una durabilidad ligera. La plantilla brinda mayor comodidad con una capa superior suave, grabada con la marca de tres rayas de adidas en el talón.
                                </p><!--  Debajo de los pies, la suela exterior está formada con ranuras horizontales para una mejor tracción. -->
                                <button type="button" class="btn btn-outline-primary tarjetaModelo2Boton">Ver mas</button>
                            </div>    
                        </div>
                    </div>
                    <div class="col ">
                        <div class="tarjetaModelo2">
                            <div class="tarjetaModelo2-divImagen">
                                <img class="imagenNuevo" src="imagenes/Yeezy Boost 350 V2 'MX Rock'.jpg" alt="alt"/>
                            </div>
                            <div class="tarjetaModelo2-divDescripcion"> 
                                <h5>Yeezy Boost 350 V2 'MX Rock'.</h5>
                                <p>
                                    El adidas Yeezy Boost 350 V2 'MX Rock' exhibe rayas sedimentarias de marrón y gris en una parte superior Primeknit transpirable en un acabado de carbón oscuro. La estructura similar a un calcetín está equipada con un cierre de cordones tradicional y una lengüeta de tirador de cincha fijada al talón. Una franja en el lateral de la zapatilla ofrece una transpirabilidad mejorada.
                                </p> <!--  de monofilamento post-teñida que atraviesa     La amortiguación ligera es cortesía de una entresuela Boost completamente enjaulada, visible a través de los detalles recortados en la suela de goma. -->
                                <button type="button" class="btn btn-outline-primary tarjetaModelo2Boton">Ver mas</button>
                            </div>    
                        </div>
                    </div>
                </div>
                <div class="row container-nuevo">
                    <div class="col ">
                        <div class="tarjetaModelo2">
                            <div class="tarjetaModelo2-divImagen">
                                <img class="imagenNuevo" src="imagenes/Union LA x Air Jordan 2 Retro SP 'Rattan'.jpg" alt="alt"/>
                            </div>
                            <div class="tarjetaModelo2-divDescripcion"> 
                                <h5>Union LA x Air Jordan 2 Retro SP 'Rattan'.</h5>
                                <p>
                                    La secuela de la colaboración Air Jordan 1 de 2018 de los socios creativos, la Union LA x Air Jordan 2 Retro 'Guava Ice' ofrece una versión vibrante de la silueta clásica. La parte superior combina ante rosa suave con malla transpirable en el cuello y la puntera, siguiendo las pautas de un boceto original de Tinker Hatfield.
                                </p><!-- . Las alas de TPU semitranslúcidas brindan soporte estructural Otros éxitos de la marca incluyen una etiqueta Union amarilla en el panel lateral, Nike Air en el talón trasero y una etiqueta Air Jordan tejida sobre la lengüeta doblada. -->
                                <button type="button" class="btn btn-outline-primary tarjetaModelo2Boton">Ver mas</button>
                            </div>    
                        </div>
                    </div>
                    <div class="col ">
                        <div class="tarjetaModelo2">
                            <div class="tarjetaModelo2-divImagen">
                                <img class="imagenNuevo" src="imagenes/Zoom Kobe 6 Protro 'Grinch'.jpg" alt="alt"/>
                            </div>
                            <div class="tarjetaModelo2-divDescripcion"> 
                                <h5>Zoom Kobe 6 Protro 'Grinch'.</h5>
                                <p>
                                    Las Nike Zoom Kobe 6 Protro 'Grinch' recuperan una combinación de colores querida lanzada inicialmente en 2010 como parte de la colección Nike Basketball Christmas Day. Actualizada con la tecnología de amortiguación Zoom Air contemporánea, la zapatilla presenta la estética llamativa del original, resaltada por un acabado verde vibrante en la parte superior.
                                </p><!-- Las 'islas' de poliuretano cubren la parte superior sintética, imitando la textura de la piel de serpiente al tiempo que brindan mayor durabilidad.-->
                                <button type="button" class="btn btn-outline-primary tarjetaModelo2Boton">Ver mas</button>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row container-descuento">
            <H2 class="container-titulo">En descuento</H2>
            <div class="col "><div class="card tarjetaModelo3">
                        <img class="card-img-top" src="imagenes/OFF-WHITE x Chuck 70 'White'.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">OFF-WHITE x Chuck 70 'White'.</h5>
                            <p class="card-text">Virgil Abloh pone énfasis en la accesibilidad y la portabilidad. En consecuencia, la silueta icónica se viste con lona de algodón convencional.</p> <!--and finished in a versatile crisp white shade. Virgil even keeps the shoe’s signature and rubber license plate, though the latter is flipped upside down. Additional flourishes include the OFF-WHITE’s trademark diagonal stripes on the midsole, printed text on the medial side and a bright orange outsole.-->
                        </div>
                    </div>
                </div>
                <div class="col "><div class="card tarjetaModelo3">
                        <img class="card-img-top" src="imagenes/A Bathing Ape Bape SK8 Sta Grey Mustard Yellow.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">A Bathing Ape Bape SK8 Sta Grey Mustard Yellow.</h5>
                            <p class="card-text">Lanzado como parte de la colección cápsula 'Apes Together Strong', el BAPE x New Balance 2002R 'Camo' viste al corredor retro con los adornos de la marca japonesa de ropa urbana.</p> <!--  El camuflaje ABC de BAPE en verde y marrón inunda la parte superior textil, reforzada con superposiciones de color negro y carbón en ante y nubuck. Se aplican detalles reflectantes plateados al logo 'N' y al detalle de diente de tiburón que envuelve el talón. La zapatilla está montada en una entresuela ABZORB de color blanquecino, con amortiguación de talón ABZORB SBS para mayor estabilidad. -->
                        </div>
                    </div>
                </div>
                <div class="col "><div class="card tarjetaModelo3">
                        <img class="card-img-top" src="imagenes/Off-White x Air Force 1 'ComplexCon Exclusive'.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Off-White x Air Force 1 'ComplexCon Exclusive'.</h5>
                            <p class="card-text">Las Off-White x Nike Air Force 1 Low 'Lemonade' reúnen a Virgil Abloh con las icónicas zapatillas de baloncesto de 1982 de Bruce Kilgore.</p> <!--  Abloh sumerge la parte superior de cuero en un rico tono amarillo mostaza, a excepción de un Swoosh plateado delineado en costuras en zigzag en contraste y el texto Helvetica de la firma del diseñador en el panel del cuarto medio. Una entresuela amarilla a juego presenta "AIR" impreso en la pared lateral. La construcción de espuma expuesta se utiliza en el cuello y la lengüeta, esta última decorada con una etiqueta tejida que muestra la marca Nike Air "OFF". Abloh deja su marca final colocando su corbata de cremallera característica alrededor de los cordones. -->
                        </div>
                    </div>
                </div>
        </div>

        <footer th:replace = "Layout/layout ::footer"></footer>
        <div th:replace ="Layout/layout ::Script"></div>
    </body>
</html>