<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>SneakerShop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    </head>
    <body>
        <H1>Datos del Empleado</H1>
        <a th:href="@{/listadoEmpleado}">Regresar</a>
        <div class="container-fluid">
            <div class="col-6">
                <form th:action="@{/guardarEmpleado}" 
                      method="POST" 
                      th:object="${empleado}">
                    <input type="hidden" name="EmpId" th:field="*{EmpId}"/>
                    <div class="form-floating">
                        <input type="text" class="form-control" placeholder="cedula" id="EmpCedula" th:field="*{EmpCedula}"/>
                        <label for="EmpCedula">Cedula:</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" placeholder="EmpNombre" id="EmpNombre" th:field="*{EmpNombre}"/>
                        <label for="EmpNombre">Nombre</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" placeholder="Apellido1" id="EmpApellidopaterno" th:field="*{EmpApellidopaterno}"/>
                        <label for="EmpApellidopaterno">Primer apellido:</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" placeholder="Apellido2" id="EmpApellidomaterno" th:field="*{EmpApellidomaterno}"/>
                        <label for="EmpApellidomaterno">Segundo apellido:</label>
                    </div>
                    
                    <div class="form-floating">
                        <input type="tel" class="form-control" placeholder="telefono" id="EmpTelefono" th:field="*{EmpTelefono}"/>
                        <label for="EmpTelefono">Telefono:</label>
                    </div>
                    <div class="input-group">
                    <span class="input-group-text">@</span>
                    <div class="form-floating">
                        <input type="email" class="form-control" placeholder="email" id="EmpCorreo" th:field="*{EmpCorreo}"/>
                        <label for="EmpCorreo">Correo:</label>
                    </div>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" placeholder="password" id="EmpContraseña" th:field="*{EmpContraseña}"/>
                        <label for="EmpContraseña">Contraseña:</label>
                    </div>
                    <input type="submit" name="guardar" value="Guardar" />
                </form>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>