<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
            <title>Reviews</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <div th:replace = "Layout/layout ::Estilos"></div>
        <link href="css/index.css" rel="stylesheet" type="text/css"/>
        <style>
        </style>
    </head>
    <header th:replace = "Layout/layout ::header"></header>
    <body>

                <section id="contenido">
                    <br>
            <h2>Reviews</h2>
            <br>
            <br>
            <br>


            <article>
                <header>Jordan retro 1 x Off-White</header>
                <br>
                <p class="descripcion">
                    <br>
                </p>
                <article>

                    <iframe width="560" height="315" 
                            src="https://www.youtube.com/embed/310UWufsJ9o" 
                            title="YouTube video player" 
                            frameborder="0" 
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                            allowfullscreen>
                    </iframe>

                    <!--<footer>Lista de reproducción de You Tube</footer>-->
                </article>
                <figure>
                    <!--<img src="imagenes/Equipo1.jpg" width="200"/>
                    <figcaption>Imagen con fines ilustrativos</figcaption>-->
                    <br>
                    <br>
                </figure>
            </article>
            <br>

        </section>
<footer th:replace = "Layout/layout ::footer"></footer>
</body>
</html>














