<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
            <title>Reviews</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <div th:replace = "Layout/layout ::Estilos"></div>
        <link href="css/index.css" rel="stylesheet" type="text/css"/>
        <link href="css/favoritos.css" rel="stylesheet" type="text/css"/>
        <link href="css/carrito.css" rel="stylesheet" type="text/css"/>
        <link href="css/iniciarSesion.css" rel="stylesheet" type="text/css"/>
    </head>
    <header th:replace = "Layout/layout ::header"></header>
    <body>
        
        
                
                
                
                
                
                
                
                
                
                <section id="contenido">
                    <br>
            <h2>Reviews</h2>
            <br>
            <br>
            <br>


            <article>
                <header>Jordan retro 1 x Off-White</header>
                <br>
                <p class="descripcion">
                    <!--<cite>Jordan retro 1 x Off-White</cite>-->
                    <br>
                </p>
                <article>
                    <!--<header><h3>Video de You Tube</h3></header>-->
                    
                    <iframe width="560" height="315" 
                            src="https://www.youtube.com/embed/310UWufsJ9o" 
                            title="YouTube video player" 
                            frameborder="0" 
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                            allowfullscreen>
                    </iframe>

                    <!--<footer>Lista de reproducción de You Tube</footer>-->
                </article>
                <figure>
                    <!--<img src="imagenes/Equipo1.jpg" width="200"/>
                    <figcaption>Imagen con fines ilustrativos</figcaption>-->
                    <br>
                    <br>
                </figure>
            </article>
            <br>


            <!--<article>
                <header>2</header>
                <br>
                <p class="descripcion">
                    <cite>Texto de prueba</cite>
                    <br>
                </p>
                <figure>
                    <img src="imagenes/Equipo1.jpg" width="200"/>
                    <figcaption>Imagen con fines ilustrativos</figcaption>
                    <br>
                    <br>
                </figure>
            </article>
            <br>
            
            
            <article>
                <header>3</header>
                <br>
                <p class="descripcion">
                    <cite>Texto de prueba</cite>
                    <br>
                </p>
                <figure>
                    <img src="imagenes/Equipo1.jpg" width="200"/>
                    <figcaption>Imagen con fines ilustrativos</figcaption>
                    <br>
                    <br>
                </figure>
            </article>
            <br>

            <!-- Lineas de producto -->

        </section>
        
                
                
                
                
                
                
                
                
                
                
                
                
                
            

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<footer th:replace = "Layout/layout ::footer"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>














