<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Sneaker</title>
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link href="css/iniciarSesion.css" rel="stylesheet" type="text/css"/>
        <link href="css/layout.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:fragment="header" class="header">

        </header>
        <header th:replace = "layout ::header"></header>










        <article class="sobreNosotros">
            <div class="titulo">
                <header class="tituloSN">¡Sobre nosotros!</header>
            </div>
            <p class="descripcion">
                <cite>
                    Nosotros somos la página más grande de toda Latinoamérica en ventas de los modelos más exclusivos y de los lanzamientos más recientes de sneakers en la actalidad. 

                    Además contamos con la entrega de nuestros productos más segura y rápida, te hacemos llegar tu pedido en 3 a 5 días.
                    <br>
                    <br>
                    Si tu podructo tiene algún defecto de fábrica, contáctanos en un lapso de 48 horas para hacerte el cambio.
                    <br>
                    Si quieres cambiar el producto por otra talla, contáctanos en un lapso de 24 horas para hacerte el cambio.
                    <br>
                    Si deseas hacer una devolución, contáctanos en un lapso de 24 horas para que la devolución sea efectiva.
                    <br>
                    <br>
                    Nota: Si deseas hacer una de estas acciones, debes contactarnos en el tiempo estipulado, si no se hace dentro del tiempo, no se pudrá hacer el cambio o devolución.

                </cite>
                <br>
            </p>
            <figure>
                <!--<img src="imagenes/Equipo1.jpg" width="200"/>
                <figcaption>Imagen con fines ilustrativos</figcaption>-->
                <br>
                <br>
            </figure>
        </article>
        <br>


        <div class="container-fluid">
            <header class="mensaje-Bienvenida">Contáctenos</header>
            <p class="descripcion">
                <cite>
                    Teléfono para atención al cliente: 1-800-sneakermag
                    <br>
                    <br>
                    Whatsapp: 8765-4321
                    <br>
                    <br>
                    email: sneakermagazinelatam@gmail.com
                    <br>
                    <br>
                    Horario de atención:
                    <ul>
                        <li>Lunes:        9 a.m. - 6 p.m.</li>
                        <li>Martes:       9 a.m. - 6 p.m.</li>
                        <li>Miércoles:    9 a.m. - 6 p.m.</li>
                        <li>Jueves:       9 a.m. - 6 p.m.</li>
                        <li>Viernes:      9 a.m. - 6 p.m.</li>
                        <li>Sábados:      10 a.m. - 5 p.m.</li>
                        <li>Domingos:     10 a.m. - 5 p.m.</li>
                    </ul>
                </cite>
                <br>
            </p>
            <figure>
                <!--<img src="imagenes/Equipo1.jpg" width="200"/>
                <figcaption>Imagen con fines ilustrativos</figcaption>-->
                <br>
                <br>
            </figure>
        </div>
        <br>















        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <footer th:replace = "layout ::footer"></footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>
